{% if is_user_authenticated == False %}
    <h1>Something Went Wrong</h1>
    <p>Please contact your administrator</p>
{% endif %}{% if is_user_authenticated == False %}
<h1>Something went wrong</h1>
<p>Please contact your administrator.</p>
{% endif %}
