{% if is_user_registered == False %}
    <h1>Duplicate User Found</h1>
    <h1>A Duplicate user has been found, user creation unsuccessful</h1>
  
{% else %}
    <h1>User Successfully Created</h1>
    <p>The account for {{first_name}} {{last_name}} has been created </p>
{% endif %}